@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');

body{
    background: url(./assets/bg.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Faustina', serif;
}